*{
    box-sizing: border-box;
    font-family: "RobotoWeb", serif;
}
body{
    margin: 0;
    background-color: #fcfcfc;
}
.padding{
    padding: 6px 48px;
}
.hover:hover{
    background-color: #218e0a;
}
.header{
    width: 100%;
    background-color: #43b02a;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    z-index: 1;
    font-size: 18px;
    font-weight: 400;
}
.header-left a b{
    font-weight: 600;
}
.header *{
    color: white !important;
}
.header-left{
    display: flex;
    justify-content: space-around;
    width: 26%;
    position: relative;
}
.header-search{
    position: relative;
    width: 33%;
}
.header-search input{
    width: 100%;
    height: 2.5rem;
    border-radius: 30px;
    padding: 16px 34px;
    outline: none;
    border: none;
    color: rgb(128, 128, 128) !important;
}
.search-logo{
    z-index: 1;
    color: #000 !important;
    position: absolute;
    top: 26%;
    left: 2%;
}
.header-right{
    width: 33%;
    display: flex;
    justify-content: space-around;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a{
    text-decoration: none;
    padding: 8px 16px;
    letter-spacing: 4px;
}
.header-left span{
    display: flex;
    padding-left: 18px;
}
.header-logo{
    position: absolute;
    top: 10%;
    left: 10%;
    transform: rotate(180deg);
}
.main-title{
    font-size: 28px;
}
.left-list{
    list-style: none;
    padding: 0;
    margin: 5px 50px 5px 0;
}
.left-list li{
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}
.left-list li:hover{
    text-decoration: underline;
    color: #43b02a;
    cursor: pointer;
}
.container{
    display: flex;
}
.right{
    width: 75%;
}
.right h4{
    font-size: 20px;
    margin: 16px 0 20px 0;
}
.card-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 155px;
    height: 230px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    border-radius: 10px;
}
.card-img{
    margin-top: 5px;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-info{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}
.card-info-additional{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
}
.card-price{
    padding: 2px 5px;
    background-color: #43b02a;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 100px;
    cursor: pointer;
}
.card-price:hover{
    background-color: #218e0a;
}